In [3]:
import setup
from imports import *

def options_chain(symbol):
    # Create a ticker object
    tk = yf.Ticker(symbol)
    # Get expiration dates
    exps = tk.options

    # Get the current date
    current_date = datetime.now().date()

    # Get options for each expiration
    options = pd.DataFrame()
    for e in exps:
        opt = tk.option_chain(e)
        opt_df = pd.concat([opt.calls, opt.puts])
        opt_df['expirationDate'] = e
        # Convert expirationDate to datetime.date for calculation
        opt_df['expirationDate'] = pd.to_datetime(opt_df['expirationDate']).dt.date
        # Calculate days to expiry
        opt_df['daysToExpiry'] = (opt_df['expirationDate'] - current_date).apply(lambda x: x.days)
        options = pd.concat([options, opt_df], ignore_index=True)

    # Filter out entries where daysToExpiry is greater than 30
    options = options[options['daysToExpiry'] <= 30]

    return options

# Example usage:
options_chain('AAPL')

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency,expirationDate,daysToExpiry
0,AAPL240628C00100000,2024-06-21 16:55:49+00:00,100.0,110.25,108.45,109.95,0.0,0.0,7.0,14,3.421876,True,REGULAR,USD,2024-06-28,3
1,AAPL240628C00105000,2024-06-12 19:43:32+00:00,105.0,110.11,103.40,105.00,0.0,0.0,1.0,1,3.214846,True,REGULAR,USD,2024-06-28,3
2,AAPL240628C00110000,2024-06-21 19:41:29+00:00,110.0,100.06,98.50,99.95,0.0,0.0,4.0,4,3.082034,True,REGULAR,USD,2024-06-28,3
3,AAPL240628C00125000,2024-06-21 19:08:36+00:00,125.0,85.74,83.40,85.05,0.0,0.0,2.0,2,2.519535,True,REGULAR,USD,2024-06-28,3
4,AAPL240628C00130000,2024-06-21 18:02:20+00:00,130.0,80.36,78.50,80.00,0.0,0.0,1.0,5,2.394535,True,REGULAR,USD,2024-06-28,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,AAPL240719P00255000,2024-06-20 19:35:18+00:00,255.0,45.32,45.05,46.40,0.0,0.0,2.0,1,0.451666,True,REGULAR,USD,2024-07-19,24
328,AAPL240719P00260000,2024-06-20 19:35:20+00:00,260.0,50.32,50.10,51.40,0.0,0.0,1.0,1,0.486333,True,REGULAR,USD,2024-07-19,24
329,AAPL240719P00265000,2024-06-20 19:35:20+00:00,265.0,55.34,55.10,56.45,0.0,0.0,3.0,0,0.529546,True,REGULAR,USD,2024-07-19,24
330,AAPL240719P00280000,2024-03-07 15:18:04+00:00,280.0,110.57,109.85,110.95,0.0,0.0,NaN,0,2.849368,True,REGULAR,USD,2024-07-19,24
331,AAPL240719P00300000,2024-06-12 17:47:20+00:00,300.0,82.74,90.10,91.35,0.0,0.0,5.0,0,0.715335,True,REGULAR,USD,2024-07-19,24